@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');


div#banner{
    margin-right: 20px;
    margin-top: 10px;
    float: right;
    width: 1200px;
    height: 100px;
    background-color: rgb(110, 110, 154);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

.container{
    width: 100%;
    display: flex;
    max-width: 1100px;
}
.card{
    width: 100%;
    margin: 15px;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 1opx rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;

}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
.card img{
    width: 100%;
    height: 210px;
}
.card .contenido{

    padding: 5px;
    margin: 0%;
    text-align: center;
}
.card .contenido p{
    line-height: 1.5;
    color: #6a6a6a;
}
.card .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;
}
.card .contenido a{
    text-decoration:  none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #F2C2C2;
    border: 1px solid #F2C2C2;
    border-radius: 4px;
    transition: all 400ms ease;
}

#link{
    color: #BF0404;
    border: none;
    
}
.card .contenido a:hover{
    background: #F2C2C2;
    color: #fff;
}

iframe{
    width: 100%;
    height: 150vh;
}

#navbarNav a:hover{
    color:black ;
    text-decoration: underline black;
}
#navegacion{
    margin: 100% 0 #BF0404;
}